<% provide(:title, 'About')%>
<h1>About</h1>

<div class="show-nav">
	<p class="all-jobs"><%= link_to "<< Back to all jobs", jobs_path %></p>
</div>

<div class="row-fluid">
	<p>This is the job board for IGDA Manila.</p>
</div>