<% provide(:title, 'Error') %>
<h1>Job Post not found</h1>

<div class="row-fluid">
	<div class="span8">	
		<table>
			<tbody>
				<tr>
					<td>
						The job post you are looking for is not found.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span4">
		<h3>Browse Jobs</h3>
		<ul>
			<% ["Programming", "Business/Exec", "Miscellaneous", "Copywriter", "iPhone Developer", "Customer Service/Support"]. each do |choice| %>
			<li><%= link_to "#{choice}", category_path(choice) %></li>
			<% end %>
		</ul>
	</div>
</div>
