<% provide(:title, 'Error') %>
<h1>Error</h1>

<div class="row-fluid">
	<div class="span9">	
		<table>
			<tbody>
				<tr>
					<td>
						Error confirming job post.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span3"></div>
</div>
