<% provide(:title, 'Job Post Success') %>
<h1>Job Post Success</h1>

<% content_for :tab_header do %>
  <li><%= link_to "Jobs", jobs_path %></li>
  <li><%= link_to "Users", users_path %></li>
<% end %>

<div class="row-fluid">
	<div class="span9">	
		<table>
			<tbody>
				<tr>
					<td>
						Thank you for posting a job to IGDA Job Board.
						An email has been sent to your confirmation email: <b><%= @job.confirmation_email %></b> for the confirmation key.
						<br />
						Please look into your Spam folder if the message does not appear in your Inbox.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span3"></div>
</div>
