<% provide(:title, 'Job Post Success') %>
<h1>Job Post Success</h1>

<div class="row-fluid">
	<div class="span9">	
		<table>
			<tbody>
				<tr>
					<td>
						Thank you for posting a job to IGDA Job Board.
						An email has been sent to your confirmation email: <b><%= @job.confirmation_email %></b> for the confirmation key.
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="span3"></div>
</div>
