<form class="form-inline">
	<label>Find a developer:</label>
  <input type="text" class="input-small" placeholder="Search" id="search" name="search">
  <input type="text" class="input-small" placeholder="Availability" data-provide="typeahead" id="availability" name="availability">
  <input type="text" class="input-small" placeholder="Location" id="location" name="location">
  <button type="search" class="btn">Search</button>
</form>
