@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$lavender: #e3e4fa;
$yellowLigther: #FAFAD2;
$whiteSmoke: #F5F5F5;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  background-color: $grayLighter;
  padding-top: 60px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

form {
  padding: 20px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

label {
  font-weight: bold;
}

/* header */

.navbar {
  .navbar-inner {
    background-color: $red;
    background-image: none;
    form {
      padding: 5px;
      margin: 0;
      div input {
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }
  .add-on {
    height: inherit;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* body */

.row-fluid {  
  background-color: $white;
  border: 1px solid $grayLight;
  padding: 20px;
  @include box_sizing;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2.5em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
    h2 {
      text-align: left;
      color: $gray;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 1em;
      margin-bottom: 5px;
    }
    div {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

/* forms */

table {
  width: 100%;
  td {
    label {;
      vertical-align: top;
    }
    .radio {
      font-weight: normal;
    }
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
  height: 10em;
}

.form-actions {
  text-align: right;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* jobs index */

.jobs {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
    &:hover {
      background-color: $yellowLigther;
    }
    a {
      display: block;
      color: $gray;
      &:hover{
        text-decoration: none;
      }
    }
    span {
      display: inline;
      color: $linkColor;
      margin-right: 10px;
      &.jobtitle {
        text-decoration: underline;
      }
      &.date {
        float: right;
      }
    }
    .location {
      font-weight: bold;
    }
  }
}

/* job show */

.show-nav {
  overflow: hidden;
  border-top: 1px solid $grayLight;
  padding-top: 10px;
  .all-jobs {
    float: left;
  }

  .category-job {
    float: right;
  }
}
.job-header {
  border-bottom: 1px solid $grayLight;
  padding-bottom: 10px;
}

.job-apply {
  padding: 20px;
  background-color: $whiteSmoke;
  border: 1px solid $grayLight;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  h2 {
    color: $gray;
    text-align: left;
    letter-spacing: -1px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }
}