@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$maroon: #8a002d;
$firebrick: #800517;
$redLighter: #D23137;
$redDarker: #6C0000;
$heart: #cc0033;
$grayMediumLight: #eaeaea;
$lavender: #e3e4fa;
$yellowLighter: #FAFAD2;
$orangeDark: #F87217;
$whiteSmoke: #F5F5F5;
$snow: #FFFAFA;
$blueLighter: #e3f0fc;
$pink: #fff5e8;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

@mixin carme {
  font-family: 'Carme', sans-serif;
}

@mixin open_sans {
  font-family: 'Open Sans', sans-serif;
}

/* universal */

html, body{
  height: 100%
}

html {
  overflow-y: scroll;
}

body {
  // font-family: 'Carme', sans-serif;
  @include open_sans;
  font-size: 13px;
  background-color: white;
}

// hr {
//   border-top: 1px solid  black;
//   border-bottom: none;
// }

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

form {
  padding: 20px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

a {
  color: $redDarker;
  &:hover {
    color: $redLighter;
  }
}

.btn, .btn-primary, .btn-primary.btn-large {
  @include box_sizing;
  background-color: $redLighter;
  background-image: none;
  border: none;
  color: white;
  &:hover {
    background-color: $redDarker;
  }
}

.btn-large {
  background-color: lighten($redLighter, 10%);
  text-shadow: none;
  &:hover {
    background-color: $redLighter;
    color: white;
  }
}

.alert, .alert-heading, .alert-danger, .alert-error, .alert-danger .alert-heading, .alert-error .alert-heading, .alert-success, .alert-success .alert-heading  {
  @include box_sizing;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 30px;
  margin-bottom: 30px;
  // text-align: center;
  text-align: left;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  // margin-top: 30px;
  margin-top: 70px;
  text-align: center;
  font-weight: bold;
  color: $grayLight;
}

h6 {
  text-transform: none;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

label {
  font-weight: bold;
  // font-family: 'Carme', sans-serif;
  @include open_sans;
}

/* header */

.navbar {
  .navbar-inner {
    background: $maroon;
    border: none;
    @include box_sizing;
    form {
      padding: 15px;
      margin: 0;
      div input {
        font-size: 14px;
        line-height: 1.3;
      }
      .add-on {
        height: inherit;
        background-color: $whiteSmoke;
      }
    }
    #user-nav {
      color: white;
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: $redDarker;
        }
      }
    }
  }
}

#logo {
  // background: url('igda-header-logo.jpg') 145px 40px no-repeat;
  float: left;
  // margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 10px;
  // font-weight: bold;
  // line-height: 1;
  &:hover {
    color: $redLighter;
    text-decoration: none;
  }
  img {
    width: 33px;
    height: 30px;
  }
  span {
    color: white;
  }
  #igda {
    font-size: 1.3em;
  }
  #slash {
    color: red;
  }
  #manila {
    font-weight: bold;
    letter-spacing: 0.1em;
  }
}

.sub-navbar {
  .container {
    // border-bottom: 1px solid lighten($grayLight, 35%);
    .nav {
      li {
        a {
          line-height: 3em;
          color: $gray;
          // background-color: lighten($firebrick, 10%);
          // border-right: 1px solid $grayLight;
          &:hover {
            color: white;
            background-color: darken($firebrick, 10%);
          }
        }
      }
      .active {
        a {
          color: white;
          background-color: $firebrick;
        }
      }
    }
  }
}
/* body */

.row-fluid {  
  // background-color: $snow;
  min-height: 600px;
  padding: 20px;
  @include box_sizing;
}

/* footer */
.footer-container {
  // position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayLight;
  // color: $grayLight;
  color: white;
  background: $maroon;
  .container {
    height: 200px;
    position: relative;
    a {
      color: $gray;
      &:hover { 
        color: $grayDarker;
      }
    }  
    small { 
      float: left; 
    }
    ul {
      // float: right;
      list-style: none;
      li {
        float: left;
        // margin-left: 10px;
        margin-right: 10px;
      }
    } 
    span {
      bottom: 0;
      position: absolute;
      width: 940px;
      text-align: center;
      padding-bottom: 10px;
    }
    #about {
      font-size: 25px;
      padding-top: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      // line-height: 1;
    }
    h1 {
      font-size: 2.5em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
    h2 {
      // text-align: left;
      text-align: center;
      color: $gray;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 1em;
      margin-bottom: 5px;
    }
    h4 {
      padding-top: 10px;
    }
    div {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

/* forms */

table {
  margin-top: 20px;
  border-spacing: 10px;
  width: 100%;
  td {
    padding-bottom: 10px;
    label {;
      vertical-align: top;
      padding-right: 20px;
    }
    i {
      cursor: pointer;
    }
    .radio {
      font-weight: normal;
    }
    .checkbox {
      padding-top: 0px;
      padding-left: 20px;
      margin-bottom: 0px;
    }
  }
}

.form-inline {
  background-color: $pink;
  input[type="text"], label {
    @include box_sizing; 
    height: 2em;
    width: 20%;
    margin-right: 20px;
  }
}

input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  height: auto;
  @include box_sizing;
  margin-bottom: 0;
}

textarea {
  height: 10em;
}

span {
  color: $grayLight;
  //padding-left: 10px;
}

.form-actions {
  text-align: right;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* jobs index, user index, game index */

.jobs, .users, .games {
  list-style: none;
  margin: 0;
  .colab {
    width: 50%;
  }
  .game-link, .user-link, .edit-link {
    display: inline;
  }
  .edit-link {
    color: darken(red, 20%);
  }
  .user-preview div {
    margin-top: 0;
    margin-bottom: 0;
  }
  li {
    overflow: auto;
    padding: 10px;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
    &:hover {
      // background-color: $yellowLighter;
      background-color: $blueLighter;
    }
    a {
      display: block;
      color: $gray;
      &:hover{
        text-decoration: none;
      }
      .left {
        width: 40%;
        div {
          span {
            width: 50%;
            b, em {
              word-wrap: break-word;
            }
          }
        }
        span {
          float: left;
        }
        em {
          font-size: 0.9em;
        }
        .level {
          width: 10%;
        }
      }
      .center {
        width: 40%;
        text-align: justify;
        line-height: 3em;
        // font-size: 1.2em;
      }
    }
    span, .vote-btn {
      display: inline;
      // color: $redDarker;
      color: $gray;
      margin-right: 10px;
      padding-left: 10px;
      img {
        height: 48px;
        width: 48px;
      }
      &.jobtitle {
        text-decoration: underline;
      }
      &.date {
        float: right;
      }
    }
    .location {
      font-weight: bold;
    }
    .votes {
      // float: left;
      float: right;
      width: 5%;
      span, .vote-btn, .heart-color {
        color: $heart; 
        float: left;
      }
      .up-btn {
        color: gray;
        // border-left: 10px solid transparent;
        // border-right: 10px solid transparent;      
        // border-bottom: 10px solid black;
        // cursor: pointer;
        // width: 0px;
        // margin: 0 auto;
      }
      .red-btn {     
        color: $heart;         
        // border-left: 10px solid transparent;
        // border-right: 10px solid transparent;
        // border-bottom: 10px solid $orangeDark;
        // cursor: pointer;
        // width: 0px;
        // margin: 0 auto;
      }
    }
  }
}

.jobs {
  li span {
    color: $redDarker;
  }
}

.users {
  .border-dash {
    background: url('border-dash.jpg') repeat-x;
    height: 1px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  li {
    border-top: none;
  }
}

.vote-status, .points-status, .category-status {
  position: fixed;
  top: 150px;
  width: inherit;
}

/* job show */

.show-nav {
  overflow: hidden;
  // border-top: 1px solid $grayLight;
  padding-top: 10px;
  .all-jobs {
    float: left;
  }
  .category-job {
    float: right;
  }
}

.job-header {
  border-bottom: 1px solid $grayLight;
  padding-bottom: 10px;
}

.job-apply {
  padding: 20px;
  background-color: $whiteSmoke;
  border: 1px solid $grayLight;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  h2 {
    color: $gray;
    text-align: left;
    letter-spacing: -1px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

/* user show */

.upvotes {
  margin-top: 0px; 
  img {
    height: 30px;
  }
}

/* user edit */

.info {
  color: $red;
  font-weight: bold;
}

.vote-link {
  i{
    text-decoration: none; 
  }
  &:hover {
    background-color: $grayLight;
  }
  &:active {
    background-color: $black;
  }
}

/* sharing tools */

.share-tools ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    a {
      display: block;
      padding: 15px 0 15px 60px;
      color: $grayLight;
      font-weight: bold;
      &#mail {
      background: url('mail_icon.png') 15px 10px no-repeat;
      }
      &#twitter {
        background: url('twitter_icon.png') 15px 10px no-repeat;
      }
      &#facebook {
        background: url('facebook_icon.png') 15px 10px no-repeat;
      }
      &#gplus {
        background: url('gplus_icon.png') 15px 10px no-repeat;
      }
    }
  }
}

/* chart */

.chartContainer {
  width: 700px;
  height: 200px;
  .chart {
    .bar-container {
      width: 700px;
      .label {
        text-transform: none;
        font-weight: normal;
        color: black;
        background: none;
        float: left;
        width: 150px;
      }
      .voters {
        float: right;
        width: 20%;
        img {
          height: 18px;
        }
      }
      .bar-color {
        color: #ccc; 
        font-size: 10px;
        text-align: right;
        margin: 1px;
        padding-right: 5px;
        border-left: solid 2px #ccc;
        position: relative;
        float: left;
      }
    }

    .art {
      .bar-color {
        background: #800000;
      }
    }

    .design {
      .bar-color {
        background: #800080;
      }
    }

    .programming {
      .bar-color {
        background: #000080;
      }
    }

    .audio {
      .bar-color {
        background: #ff6600;
      }
    }

    .management {
      .bar-color {
        background: #008080;
      }
    }

    .testingandsupport {
      .bar-color {
        background: #808000;
      }
    }
  }
}

/* pagination */

.pagination {
  text-align: center;
  span {
    display: initial;
  }
}

/* typeahead */
.typeahead {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
