<footer class="footer">
	<nav>
		<ul>
			<li><%= link_to "About", "http://www.jeanambait.com" %></li>
			<li><%= link_to "Contact", "mailto:jeanclaudetteambait@gmail.com" %></li>
		</ul>
	</nav>
</footer>
